# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
deploy/
venv/
.env/
*.env

# Flask specific
instance/
*.sqlite3
*.db

# Logs and debugging
logs/
*.log
debug.log

# Cache and temporary files
.cache/
*.swp
*.swo

# IDE and editor files
.vscode/
.idea/
*.iml

# Dependencies
pip-log.txt
pip-delete-this-directory.txt

build/
parameters/*

hx711py/