<div class="indicator-container">
    <div class="indicator-header">
        <h2>{{ title }}</h2>
        <h1>{{ subtitle }}</h1>
    </div>
    <div class="indicator-body">
        <p>{{ message }}</p>
        <progress class="progress" value="{{ value }}" max="{{ max }}"></progress>
    </div>
    <div class="indicator-footer">
        <p>{{ progress }}</p>
        <p>{{ eta }}</p>
    </div>
    <div class="indicator-control">
        <button class="control-button" id="decrement" tooltip="Decrement">
            <span class="material-symbols-outlined" id="icon">remove</span>
        </button>
        <button class="control-button" id="run" tooltip="Run the process">
            <span class="material-symbols-outlined" id="icon">manufacturing</span>
        </button>
        <button class="control-button" id="stop">
            <span class="material-symbols-outlined" id="icon">&#xe5c9;</span>
        </button>
        <button class="control-button" id="increment" tooltip="Decrement">
            <span class="material-symbols-outlined" id="icon">add</span>
        </button>
    </div>
</div>