<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="logo-box">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Mang Uling" class="logo">
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=20) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    </form>
</body>
</html>
